.App {
  text-align: center;
  background-color: #202040;
  min-height: 100vh;
  color: #ffbd69;
  overflow: scroll;
}

.title {
  margin-top: 0;
  padding: 30px;
}

.shape-container {
  padding: 100px;
  padding-top: 50px;
}

.input-field,
input[type='submit'],
select {
  padding: 8px;
  border-radius: 10px;
  outline: none;
  color: #202040;
  font-weight: 600;
}

.input-field {
  margin: 0 10px;
  border: 1px solid #202040;
}

input[type='submit'] {
  border: 1px solid #202040;
  background-color: #ffbd69;
  cursor: pointer;
}

select {
  margin-left: 10px;
}

.input-field:disabled,
input[type='submit']:disabled {
  border: 1px solid #b3b3b3;
  background-color: initial;
  color: #b3b3b3;
  cursor: not-allowed;
}

.shape {
  background-color: #ff6363;
  display: inline-block;
  transition: all 2s;
  position: relative;
}

.shape-name {
  text-transform: uppercase;
}

.trapezoid,
.triangle-up,
.triangle-down,
.triangle-left,
.triangle-right {
  background-color: transparent !important;
}

.parallelogram {
  transform: skew(20deg);
}

.egg {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
